:root {
  --main-color: #999999;
  --secondary-color: #6d6d6d;
  --accent-color: #aca7cb;
}

* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  display: flex;
  justify-content: center;
}

.wrapper {
  /* background-color: #666666; */
  width: 100%;
  max-width: 1500px;
}

.board {
  width: 75%;
  height: 580px;
  background-color: #d8d8d8;
  position: absolute;
  opacity: 22%;
  top: 0;
  right: 0;
}

.header {
  padding-top: 5rem;
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: rgba(216, 216, 216, 0.22);
  align-items: center;
  position: relative;
}

.header .intro h1 {
  font-size: 4.5rem;
  color: #999999;
  width: 445px;
  height: 445px;
  /* background-color: aqua;   */
  margin-left: 12rem;
  align-self: flex-start;
  margin-top: 0;
  margin-bottom: 0;
}
.header .intro h1 span {
  color: #aca7cb;
}

.header .summary {
  margin-right: 9rem;
  /* background-color: aqua; */
  /* padding-left: 5rem; */
  position: relative;
}

.summary_p {
  color: #6d6d6d;
  font-size: 1.2rem;
  border-left: 1px solid #979797;
  padding-left: 5rem;
}

.email {
  color: #aca7cb;
  font-size: 1rem;
  padding-left: 5rem;
  font-weight: 700;
  margin-top: 2rem;
}

/* .contacts{
  position: absolute;
  left: 45rem;
  bottom: -5rem;
  background-color: #FFE8E8;
  width: fit-content;
  padding: 2rem 10rem 2rem 2rem;
  display: flex;
  gap: 2.5rem;flex-direction: column;
} */

.contacts {
  position: absolute;
  bottom: -15rem;
  left: 5rem;
  /* background-color: #FFE8E8; */
  background-color: rgb(227, 225, 239);
  width: fit-content;
  padding: 1.5rem 8rem 1.5rem 1.5rem;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  /* width: 50%; */
}

.contact span {
  color: #7e7c7c;
  font-size: 1rem;
}

.contact p {
  color: #2e2e2e;
  font-size: 1.25rem;
}

.container {
  margin-top: 4rem;
}

#cv_btn {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 0.5rem;
  cursor: pointer;
  
}

.cv{
  text-decoration: none;
}

.projects {
  padding: 0 7rem;
}

.projects h2 {
  margin: 0;
  font-size: 3rem;
  color: #999999;
  margin-bottom: 4rem;
}
.project {
  display: flex;
  flex-direction: row;
  margin-bottom: 6rem;
  gap: 2rem;
  /* justify-content: space-between; */
  /* width: 100%; */
  /* background-color: aqua; */
}

.project img {
  width: 600px;
  height: 400px;
  object-fit: cover;
  flex-grow: 1;
}

.project_description {
  /* background-color: aqua; */
  margin-left: 4rem;
}

.project_type {
  color: #aca7cb;
  font-weight: 800;
  font-size: 1rem;
}

.project_name {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  gap: 2rem;
  margin: 1rem 0 2rem 0;
  /* background-color:aqua; */
  /* align-items:baseline; */
  /* height: fit-content; */
}

.project_name span {
  font-size: 1em;
  margin-right: 0.5rem;
  color: var(--secondary-color);
}

.project_description p {
  color: #6d6d6d;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
}

.project_name h3 {
  font-size: 3rem;
  color: #999999;
  line-height: 3rem;
}

.links {
  display: flex;
  flex-direction: row;
}

.link {
  display: flex;
  align-items: flex-end;
  cursor: pointer;
  height: 100%;
}

.description {
  margin-bottom: 1rem;
}

.tools {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
}

.tool {
  font-size: 0.7rem;
  background-color: #ededed;
  color: #666666;
  padding: 0 1rem;
  border-radius: 16px;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 1rem; */
}

#second_project {
  flex-direction: row-reverse;
}
#second_project .project_name {
  flex-direction: row-reverse;
}
#second_project .project_description {
  text-align: right;
}
#second_project .description {
  text-align: left;
}

.job_container {
  padding: 0 3.5rem 0 7rem;
  margin-bottom: 8rem;
}

.work {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.jobs h2 {
  margin: 0;
  font-size: 3rem;
  color: #999999;
  margin-bottom: 3rem;
}

.job_title {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-right: 8rem;
}

.job_title h3 {
  font-size: 3rem;
  color: #999999;
  line-height: 3rem;
  line-height: normal;
}

.job_description {
  font-size: 1rem;
  color: #6d6d6d;
}

footer {
  background-color: rgba(216, 216, 216, 0.22);
  padding: 3.75rem 0 3.75rem 10rem;
  position: relative;
}

footer h2 {
  /* margin: 0; */
  font-size: 2rem;
  color: var(--accent-color);
  margin-bottom: 1rem;
}

footer h3 {
  color: var(--secondary-color);
}

.footer_contacts {
  position: absolute;
  background-color: rgb(227, 225, 239);
  width: fit-content;
  padding: 1.5rem 8rem 1.5rem 1.5rem;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  top: -2rem;
  right: 10rem;
}

.footer_contact span {
  color: #7e7c7c;
  font-size: 1rem;
}

.footer_contact p {
  color: #2e2e2e;
  font-size: 1.25rem;
}

#cv_btn_btm {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 0.5rem;
  cursor: pointer;
}

@media (width<1300px) {
  .project img {
    width: 450px;
    height: 300px;
    object-fit: cover;
    flex-grow: 1;
  }
  html {
    font-size: 14px;
  }
}

@media (width<1100px) {
  html {
    font-size: 12px;
  }
}

@media (width<960px) {
  html {
    font-size: 16px;
  }

  .wrapper {
    width: 100%;
  }
  .header {
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 1rem;
  }

  .header .intro h1 {
    font-size: 2rem;
    color: #999999;
    margin: 0;
    height: auto;
    width: fit-content;
    text-align: center;
  }
  .header .intro h1 span {
    color: #aca7cb;
    /* width: 100%; */
    display: inline-block;
    text-align: center;
  }

  .header .summary {
    width: auto;
    margin: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    gap: 1rem;
    /* position: relative; */
  }

  .summary_p {
    color: #6d6d6d;
    font-size: 1rem;
    border-left: none;
    padding-left: 0;
  }

  .email {
    color: #aca7cb;
    font-size: 0.75rem;
    padding-left: 0;
    font-weight: 700;
    margin-top: 0;
  }
  .contacts {
    position: initial;
    background-color: rgb(227, 225, 239);
    width: fit-content;
    height: fit-content;
    padding: 0.75rem 2rem;
    display: flex;
    gap: 2rem;
    flex-direction: row;
    align-items: center;
    margin: 0 1rem 1rem 1rem;
  }

  #cv_btn {
    align-items: center;
  }

  .contact span {
    color: #7e7c7c;
    font-size: 0.75rem;
  }

  .contact p {
    color: #2e2e2e;
    font-size: 0.75rem;
  }

  .container {
    margin-top: 2rem;
  }

  .container {
    margin-top: 4rem;
    width: 100%;
  }

  .projects {
    padding: 1rem;
  }

  .projects h2 {
    margin: 0;
    font-size: 2rem;
    color: #999999;
    margin-bottom: 4rem;
    text-align: center;
    /* gap: 1rem; */
  }
  .project {
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
    align-items: center;
    gap: 1rem;
  }

  .project img {
    width: 80%;
    height: auto;
    object-fit: cover;
  }

  .project_description {
    /* background-color: aqua; */
    margin-left: 0;
    text-align: center;
  }

  .project_type {
    color: #aca7cb;
    font-weight: 800;
    font-size: 1rem;
  }

  .project_name {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin: 1rem 0 1rem 0;
    justify-content: center;
  }

  .project_name span {
    font-size: 1em;
    margin-right: 0.5rem;
    color: var(--secondary-color);
  }

  .project_description p {
    color: #6d6d6d;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .project_name h3 {
    font-size: 1.75rem;
    color: #999999;
    line-height: 1.75rem;
  }

  .tools {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .tool {
    font-size: 0.7rem;
    background-color: #ededed;
    color: #666666;
    padding: 0 1rem;
    border-radius: 16px;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 1rem; */
  }

  #second_project {
    flex-direction: column;
  }
  #second_project .project_name {
    flex-direction: column;
  }
  #second_project .project_description {
    text-align: center;
  }
  #second_project .description {
    text-align: center;
  }
  #second_project img {
    border: 1px solid var(--secondary-color);
  }

  .job_container {
    padding: 0 1rem;
    margin-bottom: 8rem;
    margin-top: 5rem;
    text-align: center;
  }

  .work {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .jobs h2 {
    margin: 0;
    font-size: 2rem;
    color: #999999;
    margin-bottom: 2rem;
  }

  .job_title {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0;
  }

  .job_title h3 {
    font-size: 2rem;
    color: #999999;
    line-height: 2rem;
    line-height: normal;
  }

  .job_description {
    margin-top: 1rem;
    font-size: 1rem;
    color: #6d6d6d;
    text-align: left;
  }

  footer {
    background-color: rgba(216, 216, 216, 0.22);
    padding: 2rem;
    /* position: relative; */
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  footer h2 {
    /* margin: 0; */
    font-size: 2rem;
    color: var(--accent-color);
    margin-bottom: 1rem;
  }

  footer h3 {
    color: var(--secondary-color);
    margin-bottom: 2rem;
    /* text-align: center; */
  }

  .footer_contacts {
    position: initial;

    background-color: rgb(227, 225, 239);
    width: fit-content;
    padding: 1.5rem 3rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
  }

  .footer_contact span {
    color: #7e7c7c;
    font-size: 1rem;
  }

  .footer_contact p {
    color: #2e2e2e;
    font-size: 1rem;
  }

  #cv_btn_btm {
    
    align-items: center;
    gap: 0;
   font-size: 1rem;
  }
}

@media (width<460px) {
  html {
    font-size: 12px;
  }
}
